**Report for /r/{{subreddit}}**

**General information**

Period: {{start_date.strftime('%Y.%m.%d')}} 00:00:00 - {{end_date.strftime('%Y.%m.%d')}} 00:00:00

Total posts: {{total_posts}}

Total comments: {{total_comments}}

Users participated: {{total_users}}

Post threshold: {{post_threshold}}

Comments threshold: {{comment_threshold}}

**Posts and comments statistics**

1 Posts created:

User|Posts
:--|:--
{%- for user, posts in top_post_authors.items() %}
/u/{{user}}|{{posts}}
{%- endfor %}
2 Posts score total:

User|Score
:--|:--
{%- for user, karma in total_posts_karma.items() %}
/u/{{user}}|{{karma}}
{%- endfor %}
3 Posts score average:

User|Avg score
:--|:--
{%- for user, avg_karma in avg_posts_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
4 Comments total for created posts:

User|Comments
:--|:--
{%- for user, comments in total_post_comments.items() %}
/u/{{user}}|{{comments}}
{%- endfor %}
5 Comments average for created posts:

User|Avg comments
:--|:--
{%- for user, avg_comments in avg_post_comments.items() %}
/u/{{user}}|{{avg_comments}}
{%- endfor %}
6 Comments by user total:

User|Comments
:--|:--
{%- for user, comments in top_comment_authors.items() %}
/u/{{user}}|{{comments}}
{%- endfor %}
7 Comments score total:

User|Score
:--|:--
{%- for user, karma in top_comment_karma.items() %}
/u/{{user}}|{{karma}}
{%- endfor %}
8 Average comments score:

User|Avg. score
:--|:--
{%- for user, avg_karma in avg_comments_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
9 Lowest avg comments score:

User|Avg. score
:--|:--
{%- for user, avg_karma in worst_avg_comment_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
10 Popular flairs:

Flair|Used
:--|:--
{%- for flair, num in popular_flairs.items() %}
{{flair}}|{{num}}
{%- endfor %}
**Remarkable posts and comments**

1 Top rated posts:

Post|Score
:--|:--
{%- for id, data in most_popular_posts.items() %}
[{{data.title}}](https://redd.it/{{id}})|{{data.score}}
{%- endfor %}
2 Top rated comments:

User|Score
:--|:--
{%- for id, data in most_popular_comments.items() %}
[{{data.user}}]({{data.post_link}}{{id}})|{{data.score}}
{%- endfor %}
3 Комментарии с минимальным рейтингом:

User|Score
:--|:--
{%- for id, data in least_popular_comments.items() %}
[{{data.user}}]({{data.post_link}}{{id}})|{{data.score}}
{%- endfor %}


*Please contact /u/roignac if you've found a mistake*
