**Звіт по /r/{{subreddit}}**

**Загальна інформація**

Період: {{start_date.strftime('%Y.%m.%d')}} 00:00:00 - {{end_date.strftime('%Y.%m.%d')}} 00:00:00

Всього постів: {{total_posts}}

Всього коментарів: {{total_comments}}

Користувачів брало участь: {{total_users}}

Поріг постів: {{post_threshold}}

Поріг коментарів: {{comment_threshold}}

**Статистика по постам та коментарям**

1 Постів створено:

Користувач|Постів
:--|:--
{%- for user, posts in top_post_authors.items() %}
/u/{{user}}|{{posts}}
{%- endfor %}
Загальна карма постів:

Користувач|Карма
:--|:--
{%- for user, karma in total_posts_karma.items() %}
/u/{{user}}|{{karma}}
{%- endfor %}
3 Середня карма постів:

Користувач|Середня карма
:--|:--
{%- for user, avg_karma in avg_posts_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
4 Всього коментарів до створених постів:

Користувач|Коментарів
:--|:--
{%- for user, comments in total_post_comments.items() %}
/u/{{user}}|{{comments}}
{%- endfor %}
5 Коментарів до створеніх постів у средньому:

Користувач|Коментарів у середньому
:--|:--
{%- for user, avg_comments in avg_post_comments.items() %}
/u/{{user}}|{{avg_comments}}
{%- endfor %}
6 Всього коментарів:

Користувач|Коментарів
:--|:--
{%- for user, comments in top_comment_authors.items() %}
/u/{{user}}|{{comments}}
{%- endfor %}
7 Загальна карма коментарів:

Користувач|Карма
:--|:--
{%- for user, karma in top_comment_karma.items() %}
/u/{{user}}|{{karma}}
{%- endfor %}
8 Середня карма коментарів:

Користувач|Коментарів у середньому
:--|:--
{%- for user, avg_karma in avg_comments_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
9 Мінімальна середня карма коментарів:

Користувач|Коментарів у середньому
:--|:--
{%- for user, avg_karma in worst_avg_comment_karma.items() %}
/u/{{user}}|{{avg_karma}}
{%- endfor %}
10 Популярні флейри:

Флейр|Використовувався
:--|:--
{%- for flair, num in popular_flairs.items() %}
{{flair}}|{{num}}
{%- endfor %}
**Примітні пости та коментарі**

1 Пости з максимальним рейтингом:

Пост|Рейтинг
:--|:--
{%- for id, data in most_popular_posts.items() %}
[{{data.title}}](https://redd.it/{{id}})|{{data.score}}
{%- endfor %}
2 Коментарі з максимальним рейтингом:

Коментар|Рейтинг
:--|:--
{%- for id, data in most_popular_comments.items() %}
[{{data.user}}]({{data.post_link}}{{id}})|{{data.score}}
{%- endfor %}
3 Коментарі з мінімальным рейтингом:

Користувач|Рейтинг
:--|:--
{%- for id, data in least_popular_comments.items() %}
[{{data.user}}]({{data.post_link}}{{id}})|{{data.score}}
{%- endfor %}


*Якщо ви знайшли помилку - повідомте, будь ласка, /u/roignac.*
